[class^="col"] {
  /* border: 2px solid brown; */
  min-height: 50px;
  /* background-color: bisque; */
}

header {
  height: 5rem;
}

/* Jumbo */
#jumbo {
  height: 35rem;
}

.my_img-width {
  width: 300px;
}

/* Portfolio */
article.portfolio {
  height: 300px;
  border: 2px solid limegreen;
  margin-bottom: 1rem;
}

/* Colors */
.my_midnight-blue {
  background-color: #2c3e50;
}

.my_seagreen {
  background-color: #1abc9c;
  color: white;
}

.my_navy-blue {
  background-color: #3a546d;
}


@media screen and (min-width: 992px) {
  .my_wrapper {
    width: 80%;
    margin: 0 auto;
  }
}